{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Clubs {% endblock title %}
{% block style %} {% endblock style %}
{% block content %} 

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/8020x1940/?science,club" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/8020x1940/?school,tech"  class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/8020x1940/?college,tech"  class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>





{% for Clubs in club %}
<div class = "d-flex justify-content-center my-2">
<div class="col-md-10 ">
          <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
            <a class="list-group-item list-group-item-action light mb-1" href="{% url 'user_clubs' Clubs.author.username %}">{{ Clubs.author }}</a>     
              <h3 class="mb-0">
                <a class="text-dark" href="#">{{ Clubs.title|slice:30 }}</a>
              </h3>
              <div class="mb-1 text-muted">{{ Clubs.date_time }}</div>
              <p class="card-text mb-auto">{{ Clubs.content|slice:200 }}...</p>
            <a href="{% url 'clubs_detail' Clubs.id %}">Continue reading</a>
            </div>
               </div>
        </div>
    </div>    
 {% endfor %} 
{% endblock content%} 
