{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Profile  {% endblock title %}
{% block content %} 
<div class= "d-flex justify-content-center container" >
<div class=" d-inline-flex content-section">
<div class="media" >
    <img class="rounded-circle account-img" src="{{ user.profile.image.url}}" alt= height="200" width= "200">
    <div class="meida-body">
    <h2 class="account-heading">{{ user.username}} </h2>
    <p class="text-secondary">{{ user.email }}</p>
    </div> 
</div>
<hr>
<form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }} 
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit"> Update</button>
        </div>
    </form>
</div>
<hr>

</div>


<div class= "justify-content-center container" >
<p> CREATE/UPLOAD </p>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href=" {% url 'create_events' %} ">Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Club</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Ebook</a>
      </li>    
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">ADD a post </h5>
    <p class="card-text">content should be genuine.</p>
    {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
  </div>
</div>
</div>

{% endblock content%} 